xwiki-commons-core/xwiki-commons-repository/xwiki-commons-repository-model/src/main/resources/xwiki.rest.extension.model.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xwiki.org/extension"
  xmlns:extension="http://www.xwiki.org/extension" xmlns:xwiki="http://www.xwiki.org" elementFormDefault="qualified">

  <complexType name="Link">
    <attribute name="href" type="string"></attribute>
    <attribute name="rel" type="string"></attribute>
    <attribute name="type" type="string"></attribute>
    <attribute name="hrefLang" type="string"></attribute>
  </complexType>

  <complexType name="LinkCollection">
    <sequence>
      <element name="link" type="extension:Link" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>

  <complexType name="Extension">
    <complexContent>
      <extension base="extension:AbstractExtension">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ExtensionDependency">
    <sequence>
      <element name="id" type="string" maxOccurs="1" minOccurs="1"></element>
      <element name="constraint" type="string" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="optional" type="boolean"></element>
      <element name="repositories" type="extension:ExtensionRepository"
        minOccurs="0" maxOccurs="unbounded">
      </element>
    </sequence>
  </complexType>

  <element name="extension" type="extension:Extension"></element>

  <complexType name="ExtensionVersion">
    <complexContent>
      <extension base="extension:AbstractExtension">
        <sequence>
          <element name="version" type="string"></element>
          <element name="dependencies"
            type="extension:ExtensionDependency" minOccurs="0"
            maxOccurs="unbounded">
          </element>
          <element name="managedDependencies" type="extension:ExtensionDependency" minOccurs="0" maxOccurs="unbounded"></element>
          <element name="repositories"
            type="extension:ExtensionRepository" minOccurs="0"
            maxOccurs="unbounded">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>


  <element name="extensionVersion" type="extension:ExtensionVersion"></element>


  <complexType name="ExtensionSummary">
    <complexContent>
      <extension base="extension:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="name" type="string"></element>
          <element name="type" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>


  <complexType name="ExtensionVersionSummary">
    <complexContent>
      <extension base="extension:ExtensionSummary">
        <sequence>
          <element name="version" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="extensions">
    <complexType>
      <complexContent>
        <extension base="extension:LinkCollection">
          <sequence>
            <element name="totalHits" type="int"></element>
            <element name="offset" type="int"></element>
            <element name="extensionSummary" type="extension:ExtensionSummary"
              minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
    
  <element name="extensionVersions">
    <complexType>
      <complexContent>
        <extension base="extension:LinkCollection">
          <sequence>
            <element name="totalHits" type="int"></element>
            <element name="offset" type="int"></element>
            <element name="extensionVersionSummary" type="extension:ExtensionVersionSummary"
              minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="extensionsSearchResult" type="extension:ExtensionsSearchResult">
  </element>
  
  <complexType name="ExtensionRating">
    <sequence>
      <element name="totalVotes" type="int" maxOccurs="1" minOccurs="1"></element>
      <element name="averageVote" type="float" maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="AbstractExtension">
    <complexContent>
      <extension base="extension:ExtensionSummary">
        <sequence>
          <element name="rating" type="extension:ExtensionRating"
            minOccurs="0" maxOccurs="1">
          </element>
          <element name="summary" type="string" minOccurs="0"></element>
          <element name="description" type="string" minOccurs="0"></element>
          <element name="licenses" type="extension:License"
            minOccurs="0" maxOccurs="unbounded">
          </element>
          <element name="website" type="string" minOccurs="0"></element>
          <element name="authors" type="extension:ExtensionAuthor"
            minOccurs="0" maxOccurs="unbounded">
          </element>
          <element name="features" type="string" minOccurs="0"
            maxOccurs="unbounded">
            <annotation>
              <documentation>
                @Deprecated since 8.0M1, use extensionFeatures instead
              </documentation>
            </annotation>
          </element>
          <element name="extensionFeatures" type="extension:ExtensionId"
            minOccurs="0" maxOccurs="unbounded">
          </element>
          <element name="scm" type="extension:ExtensionScm"
            minOccurs="0" maxOccurs="1">
          </element>
          <element name="issueManagement"
            type="extension:ExtensionIssueManagement" minOccurs="0"
            maxOccurs="1">
          </element>
          <element name="category" type="string" minOccurs="0"
            maxOccurs="1">
          </element>
          <element name="allowedNamespaces" type="extension:Namespaces"
            minOccurs="0" maxOccurs="1">
          </element>
          <element name="recommended" type="boolean" minOccurs="0" maxOccurs="1"></element>
          <element name="properties" type="extension:Property"
            minOccurs="0" maxOccurs="unbounded">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="License">
    <sequence>
      <element name="name" type="string"></element>
      <element name="content" type="string" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="ExtensionAuthor">
    <sequence>
      <element name="name" type="string" minOccurs="0"></element>
      <element name="url" type="string" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="ExtensionsSearchResult">
    <complexContent>
      <extension base="extension:LinkCollection">
        <sequence>
          <element name="totalHits" type="int"></element>
          <element name="offset" type="int"></element>
          <element name="extensions" type="extension:ExtensionVersion"
            minOccurs="0" maxOccurs="unbounded">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ExtensionScm">
    <sequence>
      <element name="connection"
        type="extension:ExtensionScmConnection" minOccurs="0" maxOccurs="1">
      </element>
      <element name="developerConnection"
        type="extension:ExtensionScmConnection" minOccurs="0" maxOccurs="1">
      </element>
      <element name="url" type="string" minOccurs="0" maxOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="ExtensionScmConnection">
    <sequence>
      <element name="system" type="string"></element>
      <element name="path" type="string" minOccurs="0" maxOccurs="1"></element>
    </sequence>
  </complexType>
  
    <complexType name="ExtensionIssueManagement">
      <sequence>
        <element name="system" type="string"></element>
        <element name="url" type="string" minOccurs="0" maxOccurs="1"></element>
      </sequence>
    </complexType>

    <complexType name="ExtensionId">
      <sequence>
        <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
        <element name="version" type="string" minOccurs="0" maxOccurs="1"></element>
      </sequence>
    </complexType>

    <complexType name="Property">
      <sequence>
        <element name="key" type="string"></element>
        <!-- TODO: add support for any type -->
        <element name="stringValue" type="string"></element>
      </sequence>
    </complexType>

    <complexType name="Repository">
      <sequence>
        <element name="filterable" type="boolean" minOccurs="0"
          maxOccurs="1">
        </element>
        <element name="sortable" type="boolean" minOccurs="0"
          maxOccurs="1">
        </element>
        <element name="version" type="string" minOccurs="1" maxOccurs="1"></element>
      </sequence>
    </complexType>

    <element name="repository" type="extension:Repository"></element>

    <complexType name="ExtensionQuery">
      <sequence>
        <element name="query" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="offset" type="int" default="0"></element>
            <element name="limit" type="int" default="-1"></element>
            <element name="filters" type="extension:Filter" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="sortClauses" type="extension:SortClause" minOccurs="0" maxOccurs="unbounded"></element>
      </sequence>
    </complexType>

    <element name="extensionQuery" type="extension:ExtensionQuery"></element>

    <complexType name="SortClause">
      <sequence>
        <element name="field" type="string" minOccurs="1"
          maxOccurs="1">
        </element>
        <element name="order" default="ASC" type="extension:ORDER">
        </element>
      </sequence>
    </complexType>

    <complexType name="Filter">
      <sequence>
        <element name="field" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="valueString" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="comparison" default="MATCH" type="extension:COMPARISON">
            </element>
      </sequence>
    </complexType>

    <simpleType name="COMPARISON">
      <restriction base="string">
        <enumeration value="EQUAL"/>
        <enumeration value="MATCH"/>
      </restriction>
    </simpleType>

    <simpleType name="ORDER">
      <restriction base="string">
        <enumeration value="DESC"/>
        <enumeration value="ASC"/>
      </restriction>
    </simpleType>

    <complexType name="ExtensionRepository">
      <sequence>
        <element name="id" type="string"></element>
        <element name="uri" type="string" minOccurs="1" maxOccurs="1"></element>
        <element name="type" type="string" minOccurs="1" maxOccurs="1"></element>
      </sequence>
    </complexType>

    <complexType name="Namespaces">
      <sequence>
        <element name="namespace" type="string" minOccurs="0" maxOccurs="unbounded"></element>
      </sequence>
    </complexType>
</schema>
